<body>

	<form id="choice_selection" method="POST" action="/question" target="frame">
		<input type="radio" id="option_1" name="color_choice" value="<%= @question1 %>">
		<label><%= @question1 %></label><br>
		<input type="radio" id="option_1" name="color_choice" value="<%= @question2 %>">
		<label><%= @question2 %></label><br>
		<input type="radio" id="option_1" name="color_choice" value="<%= @question3 %>">
		<label><%= @question3 %></label><br>
		<input type="radio" id="option_1" name="color_choice" value="<%= @question4 %>">
		<label><%= @question4 %></label><br><br>
		<input id="submit" type="submit" onclick="display_result()" value="Guess">
	</form>
<script src="/script.js" type="text/javascript"></script>